video {
  width: 100%;
  float: left;
  cursor: pointer;
  border-top-right-radius: 20px;
}

.classroomNameTag {
  display: inline-block;
  background: #f8f8f8;
  padding: 5px 15px;
  color: #fff;
  font-size: 20px;
  background-color: #69c561;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

p {
  margin: 0;
}

.classroomVideosContainer {
  display: grid;
  grid-template-columns: 900px 600px;
  grid-row-start: 1;
  grid-row-end: 2;
}

.classroomMainVideoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.classroomSubVideosContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: scroll;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 20px;
}

.classroomSubVideoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 210px;
  margin: 20px 5px;
}

.streamcomponent {
  width: 95%;
  overflow: hidden;
  border-radius: 15px;
}

.classroomButtonContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  grid-row-start: 2;
  grid-row-end: 3;
}

.classroomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 0 12px;
  box-shadow: 2px 2px 2px #bebebe;
}

:hover .classroomButton {
  cursor: pointer;
}

.greenButton {
  background-color: #69c561;
}

.redButton {
  background-color: #ea5050;
}

.greenButton:hover {
  background-color: #94d78e;
}

.redButton:hover {
  background-color: #e1a0a0;
}
