.profileBox {
  width: 280px;
  height: 210px;
  background-color: white;
  border: solid;
  border-color: #7ccc77;
  border-width: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentStatusBox {
  width: 280px;
  height: 50px;
  background-color: #7ccc77;
  border: solid;
  border-color: #7ccc77;
  border-width: medium;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

.profileContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 95%;
  transition: transform 0.5s;
  background-color: #fff;
}

.profile:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
  cursor: pointer;
}

.profile img {
  margin-right: 10px;
}

.schoolInfo {
  background-color: #51ae4a;
  color: white;
  font-weight: bolder;
  font-size: 15px;
  padding: 5px 8px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.nameInfo {
  font-size: 20px;
  font-weight: 900;
}

.attendanceButtonContainer {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.attendanceButton,
.attended {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #fff;
  background: #66c560;
  background: linear-gradient(
    90deg,
    rgb(88, 211, 102) 0%,
    rgb(83, 184, 65) 100%
  );
  z-index: 1;
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 5px 10px #66c560;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.attendanceButton::before {
  content: "";
  border-radius: 1000px;
  width: calc(175px);
  height: calc(45px);
  border: 3px solid #66c560;
  box-shadow: 0 0 10px #66c560;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.attendanceButton:hover,
.attendanceButton:focus {
  color: #fff;
  transform: translateY(-6px);
}

.attendanceButton:hover::before,
.attendanceButton:focus::before {
  opacity: 1;
}

.attendanceButton::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 6px solid #66c560;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
  opacity: 1;
}

.attendanceButton:hover::after,
.attendanceButton:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
